*{
    box-sizing: border-box;
  }
  
  body{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    background-color: #f65c65;
    /* background-image: url(back.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px;
    margin: 0;
    min-height: 100vh;
    position: relative;
  }
  
  h1{
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
  }

  .green {
    background-color: green;
    opacity: 0.7;
    color: white;
    margin-bottom: 5px;
    border-radius: 20px;
  }
  .green:hover, .yellow:hover, .red:hover {
    padding: 1px 1px 1px 1px;
  }

  .yellow {
    background-color: yellow;
    opacity: 0.7;
    color: black;
    margin-bottom: 5px;
    border-radius: 20px;
  }

  .red {
    background-color: red;
    opacity: 0.7;
    color: white;
    margin-bottom: 5px;
    border-radius: 20px;
  }

  .all-tasks{
    width: 500px;
    max-width: 100%;
    min-height: 100px; 
    margin: 20px auto 50px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 40px 20px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
    background-color: #f4f7fc;
    overflow: hidden;
    position: relative;
  }

  .todo-list{
    width: 500px;
    max-width: 100%;
    min-height: 100px;
    margin: 20px auto 50px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 40px 20px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
    background-color: #f4f7fc;
    overflow: hidden;
    position: relative;
  }

  .priority {
      width: 500px;
      max-width: 100%;
      min-height: 100px;
      margin: 20px auto 50px;
      border: 1px solid #eee;
      border-radius: 4px;
      padding: 40px 20px;
      -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
      box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
      background-color: #f4f7fc;
      overflow: hidden;
      position: relative;
    }



  .todo-title{
    font-size: 1.2em;
    color: #f65c65;
    font-weight: normal;
  }

  .active-list{
    font-size:1.1em;
    color: #f65c65;
    font-weight: normal;
  }
  .active-task{
    font-size:1.1em;
    color: #f65c65;
    font-weight: normal;
  }
  
  form{
    overflow: overlay;
  }
  
  form label{
    display: block;
    text-align: center;
    font-size: 1.2em;
  }
  
  .btn, input {
    line-height: 2em;
    border-radius: 3px;
    border: 0;
    display: inline-block;
    margin: 15px 0;
    padding: 0.2em 1em;
    font-size: 1em;
  }
  .btn {
      background-color: lightcoral;
      color: #ddd
  }  
  
  input {
    border: 1px solid #ddd; 
    min-width: 80%;
  }

  select {
    border: 1px solid #ddd; 
    min-width: 80%;
    cursor: pointer;
  }

  .todo-item {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;     
    cursor: pointer;
  }

  .control-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

button:hover {font-weight: 600;}
button:hover {margin-right: 0px;}
button {
  cursor: pointer;
}
button:focus { outline: none;}


ul {
  line-height:1.5;
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5px;
  cursor: pointer;
}
li {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5px;
  cursor: pointer;
}
 li:hover {
   opacity: 0.7;
 }

 p:hover{
   opacity: 0.7;
 }

.todo-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.priority-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-title {
  margin: 0 1em 0 0;
  color:#f65c65;
}
.list-title:hover {
  opacity: 0.7;
}

.task-title {
  margin: 0 1em 0 0;
  color:#f65c65;
  padding-bottom: 30px;
}
.task-title:hover {
  opacity: 0.7;
}

.task-count {
  margin: 0;
  font-size: 0.8rem;
  color: #f65c65;
}
.task-count:hover {
  opacity: 0.7;
}

[type="checkbox"] {
  min-width: 8%;
  margin: 15px 0 15px 0;
  position: relative;
  cursor: pointer;
}


p {
  cursor: pointer;
}


.delete-stuff {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.delete-stuff-priority {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}


[type="checkbox"]:checked + p {
  text-decoration: line-through;
  opacity: 0.7;
}






  
  
  
  
  
  
  
 