*{
    box-sizing: border-box;
  }
  
  body{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    background-color: #7d7be2;
    /* background-image: url(back.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px;
    margin: 0;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid:
    "header header header header" auto
    "...... lists  active  ......" auto /
    1fr minmax(100px, 450px) minmax(550px, 600px) 1fr;
  }
  
  h1{
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
  }

  .title{
     grid-area: header;
  }

  .all-tasks{
    grid-area: lists;
    width: 500px;
    max-width: 100%;
    min-height: 100px; 
    margin: 20px auto 50px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 40px 20px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
    background-color: #f4f7fc;
    overflow: hidden;
    position: relative;
  }

  .todo-list{
    grid-area: active;
    width: 500px;
    max-width: 100%;
    min-height: 100px;
    margin: 20px auto 50px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 40px 20px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
    background-color: #f4f7fc;
    overflow: hidden;
    position: relative;
  }
  
  .todo-title{
    font-size: 1.2em;
    color: #f65c65;
    font-weight: normal;
  }

  .active-list{
    font-size:1.1em;
    color: #f65c65;
    font-weight: normal;
  }
  
  form{
    overflow: overlay;
  }
  
  form label{
    display: block;
    text-align: center;
    font-size: 1.2em;
  }
  
  .btn, input {
    line-height: 2em;
    border-radius: 3px;
    border: 0;
    display: inline-block;
    margin: 15px 0;
    padding: 0.2em 1em;
    font-size: 1em;
  }
  .btn {
      background-color: lightcoral;
      color: #ddd
  }
  
  input {
    border: 1px solid #ddd; 
    min-width: 80%;
  }

  .todo-item {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;     
    cursor: pointer;
  }

  .control-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

/* button:hover {font-weight: 600;}
button:hover {margin-right: 20px;} */
button {
  cursor: pointer;
}
button:focus { outline: none;}


ul {
  line-height:1.5;
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5px;
  cursor: pointer;
}
li {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 5px;
  cursor: pointer;
}
 li:hover {
   opacity: 0.7;
 }




.todo-header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-title {
  margin: 0 1em 0 0;
  color:#f65c65;
}
.list-title:hover {
  opacity: 0.7;
}

.task-count {
  margin: 0;
  font-size: 0.8rem;
  color: #f65c65;
}
.task-count:hover {
  opacity: 0.7;
}

[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.task label {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.task {
  position: relative;
  margin-bottom: 1.1em;
}

.task::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: -0.5em;
  height: 1px;
  /* background: currentColor; */
  opacity: 0.1;
}

.custom-checkbox {
  --size: .75rem;
  display: inline-block;
  width: var(--size);
  height: var(--size);
  margin-right: var(--size);
  cursor: pointer;
  border: 1px solid currentColor;
  border-radius: 20%;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}

.task:hover .custom-checkbox,
[type="checkbox"]:focus + label .custom-checkbox{
  transform:scale(1.2);
  color: var(--clr-primary);
}

[type="checkbox"]:checked + label .custom-checkbox{
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  box-shadow: inset 0 0 0px 2px #f65c65;
}

[type="checkbox"]:checked + label {
  opacity: 0.5;
}
.task label::after {
  content:'';
  position: absolute;
  left:1.5em;
  right:0;
  top: 50%;
  height: 2px;
  background: #f65c65;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 300ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
  transform: scaleX(1);
  transform-origin: left;
}

.delete-stuff {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}




  
  
  
  
  
  
  
 